.logs{
    // background-image: url('/dist/login_background.jpg');
    // background-color: #124138;
    // background-color: #F0C27B #4B1248;
    background-image: linear-gradient(green, rgb(18, 41, 18));
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}