@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  background-color: $main-bg;
  // background-color: rgb(5, 109, 109);
  color: $main-color;
}

.container {
  display: flex;
  
  // @include xxl{
  //   background-color:rgba(255,0,0,0.101);
  // }
  // @include xl{
  //   background-color:rgba(106,255,0,0.101);
  // }
  // @include lg{
  //   background-color:rgba(0,238,255,0.101);
  // }
  // @include md{
  //   background-color:rgba(174,123,203,0.101);
  // }
  // @include sm{
  //   background-color: rgba(106,255,0,0.101);
  // }
}

.menuContainer{
  width: 230px;
  padding: 5px 20px;
  // border-right: 2px solid $soft-bg;

  @include lg{
    width: max-content;
  }
  @include lg{
    overflow: hidden;
  }
}
// scroll bar for Menu
.menuContainer{
  overflow: scroll;
  overflow-x: hidden;
}
.menuContainer::-webkit-scrollbar {
  width: 20px;
}
.menuContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.menuContainer::-webkit-scrollbar-thumb {
  background:  #035445;
  border-radius: 10px;
}
.menuContainer::-webkit-scrollbar-thumb:hover {
  background: #00C49F; 
}

// scroll bar for main page


.contentContainer {
  padding: 5px 20px;
  width: 84%;
}
@tailwind base;
@tailwind components;
@tailwind utilities