.users{
 .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    button{
        padding: 5px;
        cursor: pointer;
        background: #1a96e8;
        color: white;
        border-radius: 2px;
        padding: 10px;
     }
   }
 }
 